PORT=8080
# Local Postgres from compose.local.yml
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
DATABASE_URL="postgres://postgres:change-me@127.0.0.1:5433/openfile-go?sslmode=disable"

ACCESS_TOKEN_SECRET=change-me
ACCESS_TOKEN_EXPIRY=5d
REFRESH_TOKEN_SECRET=change-me-too
REFRESH_TOKEN_EXPIRY=15d
