PORT=8080
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:5433/openfile-go?sslmode=disable"

ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY=5d
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY=15d
